<table border="3" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>Codigo</th>
      <th>Departamento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>17.0</td>
      <td>NARI?O</td>
    </tr>
    <tr>
      <td>97.0</td>
      <td>VAUPES</td>
    </tr>
    <tr>
      <td>99.0</td>
      <td>VICHADA</td>
    </tr>
    <tr>
      <td>5.0</td>
      <td>ANTIOQUIA</td>
    </tr>
    <tr>
      <td>3.0</td>
      <td>BOGOTA D.C.</td>
    </tr>
    <tr>
      <td>30.0</td>
      <td>GUAINIA</td>
    </tr>
    <tr>
      <td>33.0</td>
      <td>VICHADA</td>
    </tr>
    <tr>
      <td>29.0</td>
      <td>AMAZONAS</td>
    </tr>
    <tr>
      <td>32.0</td>
      <td>VAUPES</td>
    </tr>
    <tr>
      <td>19.0</td>
      <td>QUINDIO</td>
    </tr>
    <tr>
      <td>26.0</td>
      <td>CASANARE</td>
    </tr>
    <tr>
      <td>12.0</td>
      <td>CHOCO</td>
    </tr>
    <tr>
      <td>6.0</td>
      <td>CALDAS</td>
    </tr>
    <tr>
      <td>25.0</td>
      <td>ARAUCA</td>
    </tr>
    <tr>
      <td>4.0</td>
      <td>BOLIVAR</td>
    </tr>
    <tr>
      <td>27.0</td>
      <td>PUTUMAYO</td>
    </tr>
    <tr>
      <td>20.0</td>
      <td>RISARALDA</td>
    </tr>
    <tr>
      <td>14.0</td>
      <td>LA GUAJIRA</td>
    </tr>
    <tr>
      <td>9.0</td>
      <td>CESAR</td>
    </tr>
    <tr>
      <td>31.0</td>
      <td>GUAVIARE</td>
    </tr>
    <tr>
      <td>23.0</td>
      <td>TOLIMA</td>
    </tr>
    <tr>
      <td>18.0</td>
      <td>NORTE DE SANTANDER</td>
    </tr>
    <tr>
      <td>2.0</td>
      <td>ATLANTICO</td>
    </tr>
    <tr>
      <td>13.0</td>
      <td>HUILA</td>
    </tr>
    <tr>
      <td>24.0</td>
      <td>VALLE DEL CAUCA</td>
    </tr>
    <tr>
      <td>21.0</td>
      <td>SANTANDER</td>
    </tr>
    <tr>
      <td>5.0</td>
      <td>BOYACA</td>
    </tr>
    <tr>
      <td>11.0</td>
      <td>CUNDINAMARCA</td>
    </tr>
    <tr>
      <td>1.0</td>
      <td>ANTIOQUIA</td>
    </tr>
    <tr>
      <td>22.0</td>
      <td>SUCRE</td>
    </tr>
    <tr>
      <td>15.0</td>
      <td>MAGDALENA</td>
    </tr>
    <tr>
      <td>10.0</td>
      <td>CORDOBA</td>
    </tr>
    <tr>
      <td>17.0</td>
      <td>NARIÑO</td>
    </tr>
    <tr>
      <td>7.0</td>
      <td>CAQUETA</td>
    </tr>
    <tr>
      <td>16.0</td>
      <td>META</td>
    </tr>
    <tr>
      <td>8.0</td>
      <td>CAUCA</td>
    </tr>
    <tr>
      <td>86.0</td>
      <td>PUTUMAYO</td>
    </tr>
    <tr>
      <td>85.0</td>
      <td>CASANARE</td>
    </tr>
    <tr>
      <td>94.0</td>
      <td>GUAINIA</td>
    </tr>
    <tr>
      <td>95.0</td>
      <td>GUAVIARE</td>
    </tr>
    <tr>
      <td>52.0</td>
      <td>NARIÑO</td>
    </tr>
    <tr>
      <td>91.0</td>
      <td>AMAZONAS</td>
    </tr>
    <tr>
      <td>13.0</td>
      <td>BOLIVAR</td>
    </tr>
    <tr>
      <td>73.0</td>
      <td>TOLIMA</td>
    </tr>
    <tr>
      <td>44.0</td>
      <td>LA GUAJIRA</td>
    </tr>
    <tr>
      <td>19.0</td>
      <td>CAUCA</td>
    </tr>
    <tr>
      <td>23.0</td>
      <td>CORDOBA</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>27.0</td>
      <td>CHOCO</td>
    </tr>
    <tr>
      <td>81.0</td>
      <td>ARAUCA</td>
    </tr>
    <tr>
      <td>17.0</td>
      <td>CALDAS</td>
    </tr>
    <tr>
      <td>54.0</td>
      <td>NORTE DE SANTANDER</td>
    </tr>
    <tr>
      <td>76.0</td>
      <td>VALLE DEL CAUCA</td>
    </tr>
    <tr>
      <td>25.0</td>
      <td>CUNDINAMARCA</td>
    </tr>
    <tr>
      <td>15.0</td>
      <td>BOYACA</td>
    </tr>
    <tr>
      <td>50.0</td>
      <td>META</td>
    </tr>
    <tr>
      <td>66.0</td>
      <td>RISARALDA</td>
    </tr>
    <tr>
      <td>47.0</td>
      <td>MAGDALENA</td>
    </tr>
    <tr>
      <td>68.0</td>
      <td>SANTANDER</td>
    </tr>
    <tr>
      <td>8.0</td>
      <td>ATLANTICO</td>
    </tr>
    <tr>
      <td>11.0</td>
      <td>BOGOTA D.C.</td>
    </tr>
    <tr>
      <td>20.0</td>
      <td>CESAR</td>
    </tr>
    <tr>
      <td>18.0</td>
      <td>CAQUETA</td>
    </tr>
    <tr>
      <td>70.0</td>
      <td>SUCRE</td>
    </tr>
    <tr>
      <td>41.0</td>
      <td>HUILA</td>
    </tr>
    <tr>
      <td>63.0</td>
      <td>QUINDIO</td>
    </tr>
  </tbody>
</table>