<table border="3" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>Empresa</th>
      <th>Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AYATAWACOOP</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>AYATAWACOOP</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>AYATAWACOOP</td>
      <td>GASOLINA CORRIENTE - IMPORTADO</td>
    </tr>
    <tr>
      <td>AYATAWACOOP</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>AYATAWACOOP</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>AYATAWACOOP</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>AYATAWACOOP</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>BIOMAX</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>BRIO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>BRIO</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>BRIO</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>BRIO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>BRIO</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>CASAMOTOR</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>COOMULPINORT</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>COOMULPINORT</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>COOMULPINORT</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>COOMULPINORT</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>COOMULPINORT</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>DISCOM</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>DISCOM</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>DISCOM</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>GASOLINA CORRIENTE - IMPORTADO</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>DISCOWACOOP</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>ECOS</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>ECOS</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>ECOS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>ECOS</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>ECOS</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>ECOS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>ESSO</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>GULF</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>GULF</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>GULF</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>GULF</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>GULF</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>MOBIL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>OCTANO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>OCTANO</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>OCTANO</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>OCTANO</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>OCTANO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>OCTANO</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>P Y B</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>P Y B</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>P Y B</td>
      <td>GASOLINA CORRIENTE - IMPORTADO</td>
    </tr>
    <tr>
      <td>P Y B</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>P Y B</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>PETRDECOL</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>PETRDECOL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>PETRDECOL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>PETRDECOL</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PETRDECOL</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>PETROBRAS</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PETRODECOL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>PETRODECOL</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PETRODECOL</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>PETRODECOL</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>PETROMIL</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>PLUS MAS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>PLUS MAS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>PLUS MAS</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>PLUS MAS</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PROXXON</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>PROXXON</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>PROXXON</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>PUMA</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>SAVE</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>SAVE</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>SAVE</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>SAVE</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
    </tr>
    <tr>
      <td>TERPEL</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>GASOLINA EXTRA</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>ACPM - DIESEL</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>TEXACO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>ZAPATA Y VELASQUEZ</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>ZAPATA Y VELASQUEZ</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>ZAPATA Y VELASQUEZ</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>GASOLINA CORRIENTE</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>BIODIESEL CORRIENTE</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>BIOACEM AL 9%</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>KEROSENE</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
    </tr>
    <tr>
      <td>ZEUSS</td>
      <td>BIODIESEL EXTRA</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>