<table border="3" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>Departamento</th>
      <th>Empresa</th>
      <th>Producto</th>
      <th>precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ANTIOQUIA</td>
      <td>PROXXON</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12700.0</td>
    </tr>
    <tr>
      <td>ANTIOQUIA</td>
      <td>PROXXON</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9820.0</td>
    </tr>
    <tr>
      <td>ANTIOQUIA</td>
      <td>PROXXON</td>
      <td>BIODIESEL EXTRA</td>
      <td>9803.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>ECOS</td>
      <td>ACPM - DIESEL</td>
      <td>8565.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>TEXACO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9761.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>TEXACO</td>
      <td>BIODIESEL EXTRA</td>
      <td>9384.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>PETROMIL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9690.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>ESSO</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>8000.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>ECOS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>11743.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>PETROMIL</td>
      <td>GASOLINA CORRIENTE</td>
      <td>9800.0</td>
    </tr>
    <tr>
      <td>ATLANTICO</td>
      <td>PETROMIL</td>
      <td>BIODIESEL EXTRA</td>
      <td>9290.0</td>
    </tr>
    <tr>
      <td>BOGOTA D.C.</td>
      <td>BIOMAX</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12795.0</td>
    </tr>
    <tr>
      <td>BOGOTA D.C.</td>
      <td>PETROBRAS</td>
      <td>GASOLINA EXTRA</td>
      <td>10950.0</td>
    </tr>
    <tr>
      <td>BOGOTA D.C.</td>
      <td>BIOMAX</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9778.0</td>
    </tr>
    <tr>
      <td>BOGOTA D.C.</td>
      <td>BIOMAX</td>
      <td>BIODIESEL EXTRA</td>
      <td>9563.0</td>
    </tr>
    <tr>
      <td>BOGOTA D.C.</td>
      <td>MOBIL</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>9531.0</td>
    </tr>
    <tr>
      <td>BOYACA</td>
      <td>OCTANO</td>
      <td>BIOACEM AL 9%</td>
      <td>8750.0</td>
    </tr>
    <tr>
      <td>BOYACA</td>
      <td>BRIO</td>
      <td>BIOACEM AL 9%</td>
      <td>8743.0</td>
    </tr>
    <tr>
      <td>BOYACA</td>
      <td>CASAMOTOR</td>
      <td>BIOACEM AL 9%</td>
      <td>8800.0</td>
    </tr>
    <tr>
      <td>BOYACA</td>
      <td>PLUS MAS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>10100.0</td>
    </tr>
    <tr>
      <td>BOYACA</td>
      <td>ZEUSS</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>8965.0</td>
    </tr>
    <tr>
      <td>BOYACA</td>
      <td>PLUS MAS</td>
      <td>BIODIESEL EXTRA</td>
      <td>9900.0</td>
    </tr>
    <tr>
      <td>CALDAS</td>
      <td>PETROMIL</td>
      <td>KEROSENE</td>
      <td>8300.0</td>
    </tr>
    <tr>
      <td>CALDAS</td>
      <td>BIOMAX</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>9500.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>ECOS</td>
      <td>GASOLINA EXTRA</td>
      <td>10000.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>PUMA</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>8090.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>CASAMOTOR</td>
      <td>GASOLINA CORRIENTE</td>
      <td>9080.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>PUMA</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>8990.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>ECOS</td>
      <td>BIODIESEL EXTRA</td>
      <td>9107.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>ECOS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9364.0</td>
    </tr>
    <tr>
      <td>CAQUETA</td>
      <td>PUMA</td>
      <td>BIODIESEL EXTRA</td>
      <td>8050.0</td>
    </tr>
    <tr>
      <td>CASANARE</td>
      <td>TERPEL</td>
      <td>BIOACEM AL 9%</td>
      <td>9600.0</td>
    </tr>
    <tr>
      <td>CASANARE</td>
      <td>TEXACO</td>
      <td>GASOLINA CORRIENTE</td>
      <td>10800.0</td>
    </tr>
    <tr>
      <td>CASANARE</td>
      <td>TEXACO</td>
      <td>GASOLINA EXTRA</td>
      <td>14870.0</td>
    </tr>
    <tr>
      <td>CAUCA</td>
      <td>PUMA</td>
      <td>KEROSENE</td>
      <td>9000.0</td>
    </tr>
    <tr>
      <td>CAUCA</td>
      <td>DISCOM</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12000.0</td>
    </tr>
    <tr>
      <td>CAUCA</td>
      <td>ZEUSS</td>
      <td>KEROSENE</td>
      <td>10000.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>BRIO</td>
      <td>BIODIESEL EXTRA</td>
      <td>9453.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>BRIO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9780.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>PUMA</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12269.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>ESSO</td>
      <td>BIODIESEL EXTRA</td>
      <td>9294.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>ESSO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9459.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>PETROBRAS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12390.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>OCTANO</td>
      <td>BIODIESEL EXTRA</td>
      <td>8999.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>TEXACO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12748.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>OCTANO</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9359.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>MOBIL</td>
      <td>BIOACEM AL 9%</td>
      <td>9065.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>OCTANO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12290.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>ESSO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12399.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>TEXACO</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>9374.0</td>
    </tr>
    <tr>
      <td>CESAR</td>
      <td>SAVE</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>7449.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>AYATAWACOOP</td>
      <td>GASOLINA CORRIENTE - IMPORTADO</td>
      <td>9200.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>DISCOWACOOP</td>
      <td>ACPM - DIESEL</td>
      <td>7892.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>AYATAWACOOP</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7500.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>AYATAWACOOP</td>
      <td>BIODIESEL EXTRA</td>
      <td>6700.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>DISCOWACOOP</td>
      <td>GASOLINA EXTRA</td>
      <td>7300.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>P Y B</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7500.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>DISCOWACOOP</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7500.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>AYATAWACOOP</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>6575.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>AYATAWACOOP</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>7200.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>P Y B</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>7030.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>P Y B</td>
      <td>BIODIESEL EXTRA</td>
      <td>6205.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>DISCOWACOOP</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>7300.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>DISCOWACOOP</td>
      <td>BIODIESEL EXTRA</td>
      <td>6650.0</td>
    </tr>
    <tr>
      <td>CHOCO</td>
      <td>ZAPATA Y VELASQUEZ</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8400.0</td>
    </tr>
    <tr>
      <td>CORDOBA</td>
      <td>ZAPATA Y VELASQUEZ</td>
      <td>BIODIESEL EXTRA</td>
      <td>8735.0</td>
    </tr>
    <tr>
      <td>CORDOBA</td>
      <td>ZAPATA Y VELASQUEZ</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>8935.0</td>
    </tr>
    <tr>
      <td>CORDOBA</td>
      <td>ESSO</td>
      <td>KEROSENE</td>
      <td>8000.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PLUS MAS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12976.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>CASAMOTOR</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12400.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>ESSO</td>
      <td>GASOLINA EXTRA</td>
      <td>12200.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>CASAMOTOR</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9720.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PLUS MAS</td>
      <td>BIOACEM AL 9%</td>
      <td>8613.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PETROMIL</td>
      <td>BIOACEM AL 9%</td>
      <td>8480.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PUMA</td>
      <td>BIOACEM AL 9%</td>
      <td>8197.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>ESSO</td>
      <td>BIOACEM AL 9%</td>
      <td>9010.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>TEXACO</td>
      <td>BIOACEM AL 9%</td>
      <td>9300.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>CASAMOTOR</td>
      <td>BIODIESEL EXTRA</td>
      <td>9560.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PETROBRAS</td>
      <td>BIOACEM AL 9%</td>
      <td>8401.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PUMA</td>
      <td>GASOLINA EXTRA</td>
      <td>11950.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>BRIO</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8520.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>PUMA</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8249.0</td>
    </tr>
    <tr>
      <td>CUNDINAMARCA</td>
      <td>BRIO</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12210.0</td>
    </tr>
    <tr>
      <td>GUAVIARE</td>
      <td>OCTANO</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>9000.0</td>
    </tr>
    <tr>
      <td>GUAVIARE</td>
      <td>OCTANO</td>
      <td>GASOLINA CORRIENTE</td>
      <td>9312.0</td>
    </tr>
    <tr>
      <td>HUILA</td>
      <td>ECOS</td>
      <td>GASOLINA CORRIENTE</td>
      <td>9480.0</td>
    </tr>
    <tr>
      <td>HUILA</td>
      <td>PETROBRAS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9750.0</td>
    </tr>
    <tr>
      <td>HUILA</td>
      <td>CASAMOTOR</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>8963.0</td>
    </tr>
    <tr>
      <td>HUILA</td>
      <td>CASAMOTOR</td>
      <td>GASOLINA EXTRA</td>
      <td>10200.0</td>
    </tr>
    <tr>
      <td>HUILA</td>
      <td>PETROMIL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>11999.0</td>
    </tr>
    <tr>
      <td>HUILA</td>
      <td>PETROBRAS</td>
      <td>BIODIESEL EXTRA</td>
      <td>9400.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>DISCOWACOOP</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>5900.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>P Y B</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>6400.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>DISCOWACOOP</td>
      <td>GASOLINA CORRIENTE - IMPORTADO</td>
      <td>6200.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>BIOMAX</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>9455.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>DISCOWACOOP</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>6500.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>AYATAWACOOP</td>
      <td>ACPM - DIESEL</td>
      <td>5100.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>P Y B</td>
      <td>GASOLINA CORRIENTE - IMPORTADO</td>
      <td>5200.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>TERPEL</td>
      <td>GASOLINA EXTRA</td>
      <td>12900.0</td>
    </tr>
    <tr>
      <td>LA GUAJIRA</td>
      <td>AYATAWACOOP</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>5600.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETROMIL</td>
      <td>ACPM - DIESEL</td>
      <td>8258.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRDECOL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>7670.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>TERPEL</td>
      <td>KEROSENE</td>
      <td>7500.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>BIOMAX</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7940.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRDECOL</td>
      <td>ACPM - DIESEL</td>
      <td>7200.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>TERPEL</td>
      <td>ACPM - DIESEL</td>
      <td>7900.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>MOBIL</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8000.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRODECOL</td>
      <td>BIODIESEL EXTRA</td>
      <td>7940.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRODECOL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>7720.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRDECOL</td>
      <td>BIODIESEL EXTRA</td>
      <td>8100.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>TEXACO</td>
      <td>ACPM - DIESEL</td>
      <td>8800.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>ESSO</td>
      <td>ACPM - DIESEL</td>
      <td>7669.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRDECOL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>8500.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>ESSO</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7900.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>TERPEL</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>7394.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRDECOL</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8010.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRODECOL</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8860.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>BIOMAX</td>
      <td>ACPM - DIESEL</td>
      <td>8500.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>MOBIL</td>
      <td>ACPM - DIESEL</td>
      <td>7551.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETROMIL</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>8800.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>MOBIL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>7338.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>PETRODECOL</td>
      <td>ACPM - DIESEL</td>
      <td>7120.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>MOBIL</td>
      <td>BIODIESEL EXTRA</td>
      <td>7551.0</td>
    </tr>
    <tr>
      <td>MAGDALENA</td>
      <td>MOBIL</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>7529.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>COOMULPINORT</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7400.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>COOMULPINORT</td>
      <td>BIODIESEL EXTRA</td>
      <td>7800.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>TERPEL</td>
      <td>GASOLINA CORRIENTE</td>
      <td>7408.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>ZEUSS</td>
      <td>BIOACEM AL 9%</td>
      <td>8660.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>ZEUSS</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8810.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>TERPEL</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>8146.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>BIOMAX</td>
      <td>BIOACEM AL 9%</td>
      <td>8560.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>COOMULPINORT</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>8185.0</td>
    </tr>
    <tr>
      <td>META</td>
      <td>COOMULPINORT</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>7050.0</td>
    </tr>
    <tr>
      <td>NARIÑO</td>
      <td>TEXACO</td>
      <td>KEROSENE</td>
      <td>9000.0</td>
    </tr>
    <tr>
      <td>NARIÑO</td>
      <td>MOBIL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12690.0</td>
    </tr>
    <tr>
      <td>NARIÑO</td>
      <td>MOBIL</td>
      <td>KEROSENE</td>
      <td>8300.0</td>
    </tr>
    <tr>
      <td>NARIÑO</td>
      <td>PETROMIL</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>7075.0</td>
    </tr>
    <tr>
      <td>NORTE DE SANTANDER</td>
      <td>COOMULPINORT</td>
      <td>BIODIESEL CORRIENTE</td>
      <td>5500.0</td>
    </tr>
    <tr>
      <td>NORTE DE SANTANDER</td>
      <td>BIOMAX</td>
      <td>GASOLINA EXTRA</td>
      <td>12050.0</td>
    </tr>
    <tr>
      <td>QUINDIO</td>
      <td>TERPEL</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9159.0</td>
    </tr>
    <tr>
      <td>QUINDIO</td>
      <td>TERPEL</td>
      <td>BIODIESEL EXTRA</td>
      <td>8959.0</td>
    </tr>
    <tr>
      <td>QUINDIO</td>
      <td>TERPEL</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>11810.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>DISCOM</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9520.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>SAVE</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>12260.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>SAVE</td>
      <td>BIODIESEL EXTRA</td>
      <td>9470.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>SAVE</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9830.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>ZEUSS</td>
      <td>BIODIESEL EXTRA</td>
      <td>8360.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>ZEUSS</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9300.0</td>
    </tr>
    <tr>
      <td>RISARALDA</td>
      <td>DISCOM</td>
      <td>BIODIESEL EXTRA</td>
      <td>9380.0</td>
    </tr>
    <tr>
      <td>SANTANDER</td>
      <td>ESSO</td>
      <td>ACEM - DIESEL ECOLOGICO</td>
      <td>8640.0</td>
    </tr>
    <tr>
      <td>SUCRE</td>
      <td>PETROBRAS</td>
      <td>ACPM - DIESEL</td>
      <td>8730.0</td>
    </tr>
    <tr>
      <td>SUCRE</td>
      <td>PETROBRAS</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8780.0</td>
    </tr>
    <tr>
      <td>SUCRE</td>
      <td>MOBIL</td>
      <td>GASOLINA EXTRA</td>
      <td>9585.0</td>
    </tr>
    <tr>
      <td>SUCRE</td>
      <td>ZEUSS</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>11500.0</td>
    </tr>
    <tr>
      <td>TOLIMA</td>
      <td>GULF</td>
      <td>BIODIESEL EXTRA</td>
      <td>8130.0</td>
    </tr>
    <tr>
      <td>TOLIMA</td>
      <td>GULF</td>
      <td>GASOLINA CORRIENTE</td>
      <td>8370.0</td>
    </tr>
    <tr>
      <td>TOLIMA</td>
      <td>GULF</td>
      <td>BIOACEM AL 9%</td>
      <td>7630.0</td>
    </tr>
    <tr>
      <td>TOLIMA</td>
      <td>GULF</td>
      <td>GASOLINA EXTRA OXIGENADA</td>
      <td>11270.0</td>
    </tr>
    <tr>
      <td>TOLIMA</td>
      <td>GULF</td>
      <td>GASOLINA CORRIENTE OXIGENADA</td>
      <td>9040.0</td>
    </tr>
    <tr>
      <td>VALLE DEL CAUCA</td>
      <td>BIOMAX</td>
      <td>KEROSENE</td>
      <td>8900.0</td>
    </tr>
    <tr>
      <td>VALLE DEL CAUCA</td>
      <td>PETROMIL</td>
      <td>GASOLINA EXTRA</td>
      <td>10500.0</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>