<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>inicio</title>

</head>
<body style="background: linear-gradient(to left, #d89228, #e3e63b);">
      
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Dataset de combustibles - MinEnergía</h1>
        </div>
    </div>

    <div class="container">
        <form action="/mesesVSprecios/gasolina-extra">
            <input type=submit value="Meses vs Precios - Gasolina Extra "  class="btn btn-primary mb-2">
        </form>
        <form action="/mesesVSprecios/gasolina-corriente">
            <input type=submit value="Meses vs Precios - Gasolina Corriente " class="btn btn-primary mb-2">
        </form>
        <form action="/mesesVSprecios/biodiesel-extra" >
            <input type=submit value="Meses vs Precios - Biodiesel " class="btn btn-primary mb-2">
        </form>
        <form action="/mesesVSprecios/acpm-diesel">
            <input type=submit value="Meses vs Precios - ACPM Diesel " class="btn btn-primary mb-5">
        </form>

        <form action="/preciosVSproductos">
            <input type=submit value="Precios vs Productos" class="btn btn-primary mb-5">
        </form>

        <form action="/codigo-departamento">
            <input type=submit value="Código de Departamentos" class="btn btn-primary mb-2">
        </form>
        <form action="/codigo-municipio">
            <input type=submit value="Código de Municipios" class="btn btn-primary mb-5">
        </form>

        <form action="/empresa-producto">
            <input type=submit value="Empresa y Productos" class="btn btn-primary mb-2">
        </form>
        <form action="/empresa-producto-precio">
            <input type=submit value="Empresa, Productos y Precios" class="btn btn-primary mb-2">
        </form>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a style="color: black; "href="https://www.datos.gov.co/Econom-a-y-Finanzas/Precios-de-Combustibles-MinEnerg-a/7pcy-5vx9/data"  class="lead" >Basado en</a>     
        </div>
    </div>
        
    
</body>

</script>
</html>